h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid blue;
    margin-bottom:100px;
    margin-left:100px;
    padding-top:20px
}
body{
    background-color:rgb(64, 92, 92);
}

.myclass{
    color:rgb(129, 30, 61);
}

#one{
    color:aquamarine;
}